.container.next .thumb {
    animation: effectNextThumb 0.5s linear 1 forwards;
}

@keyframes effectNextThumb {
    from {
        transform: translateX(70px);
    }
}

.container.next .thumb .thumb-item:nth-last-child(1) {
    animation: effectLastThumb 0.5s linear 1 forwards;
}

@keyframes effectLastThumb {
    from {
        width: 0;
        opacity: 0;
    }
}

.container .list .list-item:nth-last-child(1) .content h2, 
.container .list .list-item:nth-last-child(1) .content p,
.container .list .list-item:nth-last-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.2s 0.1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.container .list .list-item:nth-last-child(1) .content h2 {
    animation-delay: 1.2s;
}

.container .list .list-item:nth-last-child(1) .content p {
    animation-delay: 1.6s;
}

.container .list .list-item:nth-last-child(1) .content .buttons {
    animation-delay: 2s;
}

.container.next .list .list-item:nth-last-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showMainImage 0.5s linear 1 forwards;
}

@keyframes showMainImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.container.back .list .list-item:nth-child(1) img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    animation: hiddenMainImage 0.5s linear 1 forwards;
}

@keyframes hiddenMainImage {
    to {
        width: 135px;
        height: 11%;
        left: 50%;
        bottom: 70px;
        border-radius: 10px;
    }
}